<table>
  <tbody>
      <% @chemicals.each do |chemical_id, quantity| %>
      <% chemical = Chemical.find(chemical_id) %>
        <tr>
          <td><%= chemical.chemical_type.name %></td>
          <td><%= chemical.name %></td>
          <td class="numeric"><%= quantity %><%= chemical.unit %></td>
        </tr>
      <% end%>
  </tbody>
</table>
