<table id="detail_machines">
  <tbody>
      <% @machines.each do |machine| %>
      <tr>
        <td><%= machine.usual_name %></td>
        <td class="numeric"><%= machine.hours(@results) %></td>
        <td><%= machine.operators(@work) %></td>
      </tr>
      <% end %>
  </tbody>
</table>