<script type="text/javascript">
$(function() {
    $("#tbl_list").floatThead({
        position: 'absolute',
        scrollContainer:true
    });
    $(window).resize(function() {
        setTableWrapperHeight();
    });

    setTableWrapperHeight();
});

function setTableWrapperHeight() {
    if($("#list")[0]) {
        $("#list").height($(window).height() - $("#list").offset().top - $("#btn_toolbar").height() - 15);
    }
}

function execCreate(work_id) {
    $.ajax({
        url: "<%= work_verifications_path %>",
        type: "POST",
        data: {work_id: work_id},
        dataType: "html",
        success: function(html) {
            $("#list").html(html);
        }
    });
    return false;
}

function execDestroy(url) {
    $.ajax({
        url: url,
        type: "DELETE",
        dataType: "html",
        success: function(html) {
            $("#list").html(html);
        }
    });
    return false;
}

$(function() {
    $('span.hover').hover(function() {
        var e = $(this);
        e.off('hover');
        $.get(e.data('url'), function(data) {
            e.popover({content: data, html: true});
            e.popover('show');
        });
    },
    function() {
        var e = $(this);
        e.popover('hide');
    });
});
</script>
<h1>作業日報検証</h1>
<% if @works.count > 0 %>
<div id="list" class="wrapper" style="overflow-y: scroll; width: 100%;">
<%= render(partial: 'list') %>
</div>
<% end %>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= button_tag "戻る",  type: :button, :onclick => raw("javascript:location.href = '" + menu_index_path + "';"), class: "btn btn-outline-dark" %>
  </div>
</div>
