<h1 data-controller="page-loader" data-page-loader-modules-value="pages/work-verifications">作業日報検証</h1>
  <div class="float-end">
    <div class="form-check form-check-inline">
      <%= check_box_tag "print_self", nil, false, {class: "form-check-input"} %>
      <%= label_tag "print_self", "検証済の日報は表示しない", {class: "form-check-label"} %>
    </div>
  </div>
<div id="list" class="wrapper float-head-wrapper" style="height: calc(100vh - 150px);">
  <%= render(partial: 'list') %>
</div>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, {class: "btn btn-outline-dark"} %>
  </div>
</div>
<div id="show_work" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div id="show_work_content" class="modal-content">
    </div>
  </div>
</div>
