<%= turbo_stream.replace 'topic_data_dialog' do %>
  <div class="modal-dialog" id="topic_data_dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="topicModalLabel"><%= @topic.title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="max-height: calc(100vh - 200px); overflow-y: auto;">
        <p>　<%= show_topic(@topic.content) %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
<% end %>
