<div class="row">
  <div class="col-md-12 text-center">
    <h1>認証中です...</h1>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="form-group text-center">
          <video id="video" width="100%" height="auto" autoplay></video>
          <canvas id="canvas" class="d-none"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<%= hidden_field_tag :sessions_qr_path, sessions_qr_index_path %>
<%= hidden_field_tag :sessions_face_path, sessions_faces_path %>
<%= hidden_field_tag :tablets_menu_path, tablets_menu_index_path %>
<% content_for :head do %>
<%= javascript_include_tag 'controllers/tablets-index', 'data-turbo-track': 'reload', type: :module %>
<% end %>
