GOOGLE_MAPS_API_KEY=************
MAIL_ADDRESS=************
GOOGLE_CLIENT_ID=************
GOOGLE_CLIENT_SECRET=************
POSTGRES_DB=farm2_production
POSTGRES_USER=************
POSTGRES_PASSWORD=************
SECRET_KEY_BASE=************
DB_HOST=localhost
RAILS_ENV=production
APP_ROOT=/opt/app/farm2
BUNDLE_BIN=************
DOTENV_LOGGING=false
DEPLOY_BRANCH=develop
APP_DOMAIN=localhost
ASSET_HOST=http://localhost:3000
MYDNS_USER=*************
MYDNS_PASSWORD=************
RAILS_LOG_LEVEL=info
LINE_CHANNEL_ID=***************
LINE_CHANNEL_ACCESS_TOKEN=************
LINE_SECRETARIANT_ID=***************
OTP_SECRET_ISSUER=*********
