<div class="row g-3">
  <div class="col-6 col-sm-4 col-md-3 col-lg-2">
    <button type="button" class="btn btn-primary w-100 py-4 text-start">
      <span class="d-block fs-5 fw-bold">メニュー</span>
      <span class="d-block small opacity-75">サンプルボタン</span>
    </button>
  </div>
</div>
