<div class="row g-3">
  <div class="col-6 col-sm-4 col-md-3 col-lg-2">
    <%= link_to tablets_maps_path, class: "btn btn-primary w-100 py-4 text-start" do %>
      <span class="d-block fs-5 fw-bold">面積集計</span>
      <span class="d-block small opacity-75">地図を表示</span>
    <% end %>
  </div>
</div>
<div class="row g-3">
  <div class="col-6 col-sm-4 col-md-3 col-lg-2">
    <%= link_to new_tablets_session_path, class: "btn btn-danger w-100 py-4 text-start" do %>
      <span class="d-block fs-5 fw-bold">ログアウト</span>
      <span class="d-block small opacity-75">セッションを終了</span>
    <% end %>
  </div>
</div>
