<h1 class="h4">ニュース</h1>
  <ul class="list-group">
  <% @user_topics.each do |user_topic| %>
    <li class="list-group-item">
      <span class='badge bg-secondary me-1'><%= user_topic.word %></span>
      <%= link_to user_topic.topic.title, users_word_path(user_topic.topic.id), data: { turbo_stream: true, turbo_frame: 'topic_modal' } %>
      <small class="text-muted">(<%= user_topic.topic.posted_on.strftime("%Y-%m-%d") %>)</small>
      <% unless user_topic.read_flag %>
        <span class="badge bg-warning text-dark">未読</span>
      <% end %>
    </li>
  <% end %>
</ul>
<div class="modal modal-lg fade" id="topic_data_modal" tabindex="-1" aria-labelledby="topicModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="topic_data_dialog">
  </div>
</div>
<% content_for :head do %>
<script type="module" data-turbo-track="reload">
import { Turbo } from "@hotwired/turbo-rails";
import { Modal } from "bootstrap";

document.addEventListener('turbo:load', function() {
    document.addEventListener('turbo:before-stream-render', (event) => {
        console.log('turbo:before-stream-render');
        if (document.getElementById('topic_data_modal')) {
            const myModal = new Modal(document.getElementById('topic_data_modal'));
            myModal.show();
        }
    });
});
</script>
<% end %>
