<h1 class="h4">タスク</h1>

<ul>
  <% @tasks.each do |task| %>
    <li class="mb-1">
      <%= task.status_badge %>
      <%= task.priority_badge %>
      <%= task.due_badge %>
      <%= link_to task.title, task_path(task), class: "me-2 text-decoration-none" %>
    </li>
  <% end %>
</ul>
