  <h1 class="h4">実績</h1>
  <% total_hours = 0 %>
  <table class="type06 table table-sm">
    <thead>
      <tr>
        <th>日付</th>
        <th>内容</th>
        <th>時間</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |result| %>
        <tr>
          <td><%= result.worked_at_short %></td>
          <td><%= link_to result.work_name_short, work_path(result.work, back: false), {target: :_blank} %></td>
          <td class="numeric"><%= result.hours %></td>
          <% total_hours += result.model.hours %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="2">合計</th>
        <td class="numeric"><%= sprintf("%.1f", @total_hours || total_hours) %></td>
      </tr>
    </tfoot>
  </table>
