@page {
  size: A3 landscape;
  margin: 0;
}
th.wday-6 {color: Blue;}
th.wday-0 {color: Red;}
th.holiday {color: Red !important; }
@media screen {
  #calendar-wrapper {overflow: scroll;}
  #calendar-base {width: 2550px;}
  .calendar-month {width:200px; margin-left:10px; }
  .calendar-table tbody th {width:65px;}
  .weather {font-size: 0.75vw;}
  .weather .height {color: Red;}
  .weather .lowest {color: Blue;}
  .weather .sunshine {color: Red;}
  .weather .rain {color: Blue;}
  .weather .snow {color: Blue;}
}
@media print {
  html, body {
    width: 420mm;
    height: 297mm;
  }
  #calendar-wrapper {
    position: fixed;
    top: 2vh;
    left: 1vw;
    margin-left: 0;
    z-index: 10;
    width: 100vw;
  }
  h1 {display: none;}
  #calendar-base {width: 100%;}
  .calendar-month {margin-left:0.05vw;}
  .calendar-year {width: 2.0vw; font-size: 0.6vw;}
  .calendar-content {width: 5.8vw; font-size: 0.8vw;}
  .btn-toolbar {display: none;}
  .calendar-table {line-height: 1.2;}
  .calendar-table th, .calendar-table td {padding: 0; border: 1px solid black !important;} 
  .calendar-table td div {font-size: 0.6vw;}
  .calendar-day {font-size: 0.75vw; display: block; margin: 0;}
  .calendar-wday {font-size: 0.75vw; display: block; margin: 0;}
  .calendar-kind a {text-decoration:none;}
  .weather {display: none;}
}
