<% if @work.printed_at %>
<div class="stamp stamp-print" style="position:absolute; top:20px;left:115px">
  <span class="date"><%= @work.printed_at %></span>
  <span class="name"><%= @work.printer_short_name %></span>
</div>
<% end %>
