<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>コード</th>
            <th>名称</th>
            <th class="numeric">金額</th>
          </tr>
        </thead>
        <tbody>
          <% @totals.each do |key, value| %>
            <tr>
              <td><%= key%></td>
              <td><%= @accounts[key] %></td>
              <td class="numeric"><%= number_to_currency(value, {precision: 0, unit: ""}) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
