<%= form_with model: task, url: task_priority_path(task), method: :patch do |f| %>
  <div class="mb-3">
    <%= f.label :priority, "優先度" %>
    <%= f.select(:priority, enum_options_for(Task, :priority), {}, class: "form-select") %>
  </div>

  <div class="d-flex justify-content-end gap-2">
    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">キャンセル</button>
    <%= f.submit "登録", class: "btn btn-primary" %>
  </div>
<% end %>
