<h1>世帯別機械一覧</h1>
<%= button_tag "戻る",  type: :button, :onclick => raw("javascript:location.href = '" + root_path + "';") %>
<%= stylesheet_link_tag 'work-lists', :media => 'all' %>
<table class="list">
  <tbody>
    <tr>
      <th>所有世帯</th>
      <th>機械種別</th>
      <th>作業日</th>
      <th>作業種別</th>
      <th>作業内容</th>
      <th>単価</th>
      <th>作業量</th>
      <th>作業単位</th>
      <th>使用料</th>
    </tr>
