<% content_for :head do %>
<script data-turbo-track="reload">
const colors = ['rgba(99, 200, 132, 1.0)', 'rgba(99, 132, 200, 1.0)', 'rgba(200, 200, 132, 1.0)', 'rgba(132, 132, 132, 1.0)', 'rgba(99, 200, 200, 1.0)', 'rgba(200, 132, 132, 1.0)'];
</script>
<% end %>
<h1>統計情報一覧</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "全作業時間", tab1_statistics_path, {data: {"bs-toggle": "tab"}, remote: true, class: "nav-link"} %>
  </li>
  <li class="nav-item">
    <%= link_to "作業種別別時間", tab2_statistics_path, {data: {"bs-toggle": "tab"}, remote: true, class: "nav-link"} %>
  </li>
  <li class="nav-item">
    <%= link_to "世代別時間", tab3_statistics_path, {data: {"bs-toggle": "tab"}, remote: true, class: "nav-link"} %>
  </li>
</ul>

<div class="tab-content">
    <div class="row">
      <div class="col-md-12">
        <canvas id="chart" />
      </div>
    </div>
    <div id="tab" class="row">
    </div>
</div>
<%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
