<% if @work.errors.any? %>
  <div id="error_explanation">
    <h2><%= @work.errors.count %>件のエラーがあります。</h2>
 
    <ul>
    <% @work.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
