<% xx = 2; yy = (([current_organization.workers_count, @results.count].max - 1) / xx + 1) %>
<div id="content_workers" class="content">
  <div class="sub_title">※作業者</div>
  <table id="detail_workers">
    <thead>
    <tr>
      <% xx.times do %>
      <th style="width:50px;">&nbsp;</th>
      <th style="width:230px;">作業者名</th>
      <th style="width:80px;">時間</th>
      <% end %>
    </tr>
    </thead>
    <tbody>
      <% yy.times do |i| %>
      <tr>
        <% xx.times do |x| %>
          <% j = i + yy * x %>
          <td class="numeric"><%= j + 1 %></td>
          <td><%=raw @results[j] ? @results[j].worker_name(current_organization) : "&nbsp;" %></td>
          <td class="numeric"><%=raw @results[j] ? @results[j].hours : "&nbsp;" %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div id="cover_workers" class="cover" onclick="location.href='<%=raw edit_workers_work_path(id: @work) %>'"></div>
</div>
