<div id="content_whole_crops" class="content">
  <table id="detail_whole_crops">
    <tbody>
      <tr>
        <th style="width:100px;">WCS</th>
        <td class="numeric" style="width:260px;"><%= @work&.whole_crop&.rolls %>巻</td>
      </tr>
    </tbody>
  </table>
  <div id="cover_whole_crops" class="cover" onclick="location.href='<%= edit_whole_crops_work_path(id: @work) %>'"></div>
</div>
