<div class="row">
  <div class="col-md-12 text-center">
    <%= image_tag "data:image/png;base64,#{@qrcode_svg}" %>
  </div>
</div>
<div class="text-center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to "再表示", personal_information_qr_index_path(personal_information_token: @current_user.token), {class: "btn btn-secondary", data: {"turbo-prefetch": false}} %>
  </div>
</div>
