<% last_read_at = @task.reads.find_by(worker_id: current_user.worker_id)&.last_read_at || Time.at(0) %>
<%= turbo_stream.update "task_due_on", partial: "tasks/due_dates/show" %>
<%= turbo_stream.update "task_events", partial: "tasks/events/list", locals: { task: @task, last_read_at: last_read_at } %>

<% frame_id = dom_id(@task, :due_on_modal_frame) %>
<% modal_id = dom_id(@task, :due_on_modal) %>
<%= turbo_stream.update frame_id do %>
  <div data-controller="bs-modal" data-bs-modal-id-value="<%= modal_id %>"></div>
<% end %>
