<%= form_tag broccoli_surveys_path, {id: "search_form", method: :get} do %>
  <div class="row">
    <div class="col-md-5">
        <h1>ブロッコリー労働時間調査</h1>
    </div>
    <div class="col-md-3">
        <div class="form-inline">
        <label for="worked_at" class="h5">年月</label>
        <%= select_tag(:worked_at, options_for_select(@months, selected: @month), {class: "form-control"}) %>
        </div>
    </div>
  </div>
<% end %>
<div class="row">
  <table id="tbl_list" class="table table-sm">
    <thead>
      <tr>
        <th>ほ場</th>
        <th>日付</th>
        <th>作業</th>
        <th>作業時間</th>
        <th>人数</th>
        <th>使用機械</th>
        <th>備考</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="list">
       <%= render partial: "list" %>
    </tbody>
  </table>
</div>
<div id="btn_toolbar" class="btn-toolbar">
  <div class="btn-group mr-2">
    <%= link_to '戻る', menu_index_path, class: "btn btn-outline-dark" %>
  </div>
</div>
<script>
$(function() {
    $("#worked_at").change(function() {
        $("#search_form").submit();
    });
});
</script>
