<h1><%= @bank.name %>支店マスタ新規登録</h1>

<%= error_print(@branch) %>
<%= form_for(@branch, url: bank_branches_path(bank_code: @bank.code)) do |f| %>
<%= render(:partial => 'form', :locals => {:f => f}) %>
<% end %>
