<% if @lands.count > 0 %>
  <style>
    .manage {color: blue;}
  </style>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>番地</th>
        <th>面積(a)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @lands.each do |land| %>
    <tr class="<%= land.manager_id == land.owner_id ? "" : "manage" %>">
      <td><%= land.place %></td>
      <td class="text-right"><%= land.area %></td>
      <td>
        <%= link_to '詳細',
        personal_information_land_path(personal_information_token: params[:personal_information_token], id: land.id),
        class: "btn btn-success" %>
      </td>
    </tr>
  <% end %>
  </tbody>
  </table>
<% end %>
