<h1>カレンダー</h1>
<style>
@page {size: A3 landscape}
</style>
<div id="calendar-base" style="overflow:scroll;">
  <div style="width:2600px;">
    <% 12.times do |month|%>
    <div class="float-left" style="width:200px; margin-left:10px;">
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th colspan="2"><%= month + 1%>月</th>
        </tr>
        </thead>
        <tbody>
        <% today = Date.new(@year, month + 1, 1) %>
        <% last = today >> 1 %>
        <% while today < last %>
        <tr>
            <th class="numeric" style="width:50px;"><%= today.day %></th>
            <td></td>
        </tr>
        <% today += 1%>
        <% end %>
        </tbody>
    </table>
    </div>
    <% end %>
  </div>
</div>
<script>
$(function() {
    $(window).on("resize", function() {
        init_size();
    });

    init_size();
});

function init_size() {
    const off = $("#calendar-base").offset();

    $("#calendar-base").height($(window).height() - off.top);
    $("#calendar-base").width($(window).width() - off.left);
}
</script>
