<div class="d-inline" role="button"
     data-bs-toggle="modal"
     data-bs-target="#<%= dom_id(task, :title_modal) %>">
  <span>
    <%= task.title %>
  </span>
</div>

<div class="modal fade" id="<%= dom_id(task, :title_modal) %>" tabindex="-1" aria-hidden="true" data-controller="bs-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">タイトル</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        <%= turbo_frame_tag dom_id(task, :title_modal_frame),
              src: edit_task_title_path(task),
              loading: "lazy" %>
      </div>
    </div>
  </div>
</div>
