<h3><%= @topic.title %></h3>
<div>　<%= show_topic(@topic.content) %></div>
<div class="text-center">
  <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to "一覧に戻る", personal_information_topics_path(personal_information_token: @worker.user.token), {class: "btn btn-secondary"} %>
  </div>
</div>
