<% if @machines.count > 0 %>
  <h1>機械</h1>
  <table class="type06">
    <thead>
      <tr>
        <th>日付</th>
        <th>機械</th>
        <th>使用量</th>
      </tr>
    </thead>
    <tbody>
      <% @machines.each do |machine| %>
        <tr>
          <td><%= machine.worked_at_short %></td>
          <td><%= machine.type_name %></td>
          <td style="text-align:right;"><%= machine.quantity %>(<%= machine.unit %>)</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
