<h1><%= @machine_price.name %>料金履歴一覧</h1>
<% if @machine_prices.count > 0 %>
<table class="table table-sm">
  <thead>
    <tr>
      <th>起算日</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @machine_prices.each do |machine_price| %>
      <tr>
        <td><%=h machine_price.validated_at.strftime("%Y-%m-%d") %></td>
        <td><%= link_to '修正', edit_machine_price_header_path(machine_price), {class: "btn btn-success btn-sm"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%= link_to '戻る', edit_machine_price_header_path(@machine_price), class: "btn btn-outline-dark" %>
