<h1><%= @machine_type.name %>料金一覧</h1>
<div class="new_data">
<%= link_to '料金新規登録', new_machine_price_path %>
</div>
<%= render(:partial => "show") %>
<%= button_tag "戻る",  type: :button, :onclick => raw("javascript:location.href = '" + edit_machine_type_path(@machine_type) + "';") %>
