<h2><%= previous_term %>年度</h2>
<table class="table table-sm table-bordered">
  <thead>
    <tr>
    <% @p_owned_prices.each do |owned_price| %>
        <th><%= owned_price.name %></th>
    <% end %>
    <th>合計</th>
    <th>うち縁故米</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% total_count = 0 %>
      <% @p_owned_prices.each do |owned_price| %>
        <% owned_rice = @p_owned_rices.find {|o| o.owned_rice_price_id == owned_price.id} %>
        <td class="numeric"><%= owned_rice&.owned_count || 0 %></td>
        <% total_count += (owned_rice&.owned_count || 0) %>
      <% end %>
      <td class="numeric"><%= total_count %></td>
      <td class="numeric"></td>
    </tr>
  </tbody>
</table>
