input[type=number] {
  text-align: right;
}
input[type=number].narrow {
  width: 100px;
}
  
td.numeric {
  text-align: right;
}

th.numeric {
  text-align: right;
}

.bootstrap-date {
  display: inline-block;
  width: auto;
}

#my_side_wrapper {
  @media (min-width: 767.98px) {
    padding-right: 0;
    max-width: 200px;
  }
}

.form-check-input, .form-check-label {
  cursor: pointer;
}

@media print {
  #my_sidebar {
    display: none;
  }
}

input[type=date].form-control {
  width: 200px;
}

div.form-check-inline input[type='checkbox']:checked + label {
  color: red;
  font-weight: bold;
}

div.form-check-inline input[type='radio']:checked + label {
  font-weight: bold;
}

table.float-head {
	position: relative;
}
table.float-head th {
	position: sticky;
  background-color: white;
  z-index: 1;
	top: 0;
}
div.float-head-wrapper {
  overflow-y: scroll;
  height: calc(100vh - 400px);
}
.tr-total1, .tr-total2 {
  cursor: pointer;
}
#loading {
  background: rgba(0, 0, 0, .5);
  z-index: 10000;
}
