<% if @owned_rices.count > 0 %>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>品種</th>
        <th class="text-right">数量</th>
      </tr>
    </thead>
    <% sum_owned_count = 0 %>
    <tbody>
      <% @owned_rices.each do |owned_rice| %>
        <tr>
          <td><%= owned_rice&.owned_rice_price&.name %></td>
          <td class="text-right"><%= owned_rice.owned_count %></td>
        </tr>
        <% sum_owned_count += owned_rice.owned_count %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th>合計</th>
        <td class="text-right"><%= sum_owned_count %></td>
      </tr>
      <% if @worker.home.owned_rice_limit(current_term) < sum_owned_count %>
      <tr>
        <th>うち縁故米</th>
        <td class="text-right"><%= sum_owned_count - @worker.home.owned_rice_limit(current_term) %></td>
      </tr>
      <% end %>
    </tfoot>
  </table>
<% end %>
