<div class="alert alert-danger" role="alert">
  <div class="text-danger h4"><%= ar.errors.count %>件のエラーがあります。</div>
  <ul>
    <% ar.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
